* {
    padding: 0;
    margin: 0;
    }
    
    header{
    height: 100px;
    background-color: black;
    }

    .logo{
        height: 120px;
    
    }
    
    main {
        display: flex;
        flex-direction: column;
        background-color:rgb(0, 0, 0);
        align-items: center;
        gap: 20px;
    
    }
    .intro-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    

    .subtitulo {

        font-family: 'Times New Roman', Times, serif;
        font-size: 48px;
        font-weight: 900 px;
        color: darkred;
        width: 800px;
        text-align: center;
    }
        

    .info {

         font-family: 'Times New Roman', Times, serif;
        font-size: 18px;
        font-weight: 100 px;
        color: rgb(255, 255, 255);
        width: 100px;
        text-align: center;
    }
   

    .curiosidades { 
        font-family: 'Times New Roman', Times, serif;;
        font-size: 20px;
            color: rgb(255, 255, 255);
           width: 800px;
            text-align:justify;
            margin-top: 20px;
    }
        
    
    .foto-wanda {
        width: 900px;

    }
    
     .feiticeira-escarlate{
        width: 100px;
        background-color: black;
    }
    

    
    footer {

        display: flex;
        justify-content: center;
        align-items: flex-end;
        font-size: 1em;
        font-family: 'Times New Roman', Times, serif;
        height: 20px;
        width: 100%;
        background-color: black ;
        color: darkred;

    }

    
    @media (max-width: 640px) {
        .logo {
            width: 35vw;
            transform: translate(-50%/-50%);
        }
        .foto-wanda{
           width: 90vw;
           transform: translate(-50%/-50%);
    
        }

        .curiosidades {
            
                grid-row: 2/3;
                grid-column: 1/-1;
                place-self: center ;
                text-align: center;
        
        }

        .action {
            width: 100%;
        }
    }